body{
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Heading*/
header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: center;
    align-items: center; */
}

main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: center;
    align-items: center;; */
}
header h1 {
    font-weight: normal;
    font-size: 50px;
    color: white  ;
}

/*Main*/
main h2{
    font-weight: 300 ;
    font-size: 42px;
    color: white;
}

main h4{
    font-size: 21px;
    color: gray ;
}
/*Links*/

a{
    font-size: 16px;
    color:aquamarine;
}

/*Footer*/
footer{
    font-size: 21px;
    color: gray ;
    /* text-align: right; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
 
.shrink{
    width: 100%;
    display: flexbox;
    flex-wrap: wrap;
    /* justify-content: center;
    align-items: center; */
}
/* smart phones */
#tablet {
    display: none;
}
@media only screen and (min-width: 700px) and (max-width:900px) 
{
    body {
        background-color: rgb(1, 9, 6);
    }
    #tablet {
        display: block;
        font-style: italic;
        color: lightblue;
    }
}